.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-m);
    padding-bottom: var(--padding-xl);
}

.alinhamento-cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--padding-l);
}

.label-busca{
    display: flex;
    flex-grow: 0.5;
    justify-content: space-between;
    border: 1px solid var(--cor-neutra-dark);
    padding: var(--padding-s) var(--padding-m);
    border-radius: 2rem;

}

.label-busca input{
    border: none;
}

.icone-busca{
    display: flex;
    align-items: center;

    &::after{
        content: "";
        position: relative;
        background-image: url("../assets/icones/busca.png");
        background-repeat: no-repeat;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
}

.botao-login{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: var(--gap-s);
}

.navegacao{
    align-content: center;
}

.menu-lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

.menu-link{
    text-decoration: none;
    color: var(--cor-neutra-dark);
    position: relative;
    padding-bottom: var(--padding-xs);

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--cor-neutra-dark);
        transition: width 0.3s ease;

    }
}

.menu-link:hover::after,
.menu-link:focus::after{
    width: 100%;
}

.container__botao{
    display: none;
}

.menu-lista__hamburguer{
    display: none;
}

@media screen and (max-width: 430px) {
    .alinhamento-cabecalho{
        display: flex;
        flex-wrap: wrap;
        gap: var(--gap-m);
        position: relative;
    }

    .imagem__petpark{
        order: 1;
        width: 50%;
        text-align: center;
        margin: 25px 85px;
    }

    .container__rotulo, label[for="menu"]{
        order: 2;
    }

    .botao-login{
        order: 3;
        margin-left: auto;
    }

    .label-busca{
        order: 4;
        width: 100%;
    }

    .cabecalho__menu-hamburguer{
        width: 24px;
        height: 24px;
        background-image: url("../assets/icones/menu.png");
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
    }

    .container__botao[type="checkbox"] {
        position: absolute;
        opacity: 0;
    }

    .menu-lista{
        display: none;
    }

    .menu-lista__hamburguer{
        display: none;
        position: absolute;
        top: 75%;
        left: 0;
        background-color: #f5f5dc;
        width: auto;
        padding: 10px 16px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        border-bottom-right-radius: 8px;
    }

    .menu-item__hamburguer{
        margin-left: 15px;
    }

    .menu-lista__hamburguer li:first-child a{
        font-weight: bold;
    }

    .container__botao:checked~.menu-lista__hamburguer{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .container__botao:checked~.container__rotulo{
        background-color: #f5f5dc;
    }
    
    .botao-login{
        font-size: var(--font-size-m);
    }

    .icone-login{
        width: 20px;
        height: 20px;
    }

}
