.ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-xl);
    background-color: var(--cor-secundaria-light);
    width: 100%;
    padding: var(--padding-5xl) 0;
}

.ofertas-titulo {
    color: var(--cor-primaria-light);
}

.carrossel-nome,
.carrossel-preco {
    font-family: var(--font-poppins);
    font-size: var(--font-size-xm);
    font-weight: 600;
}

.containercarro {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.carrossel {
  display: flex;
  transition: transform 0.5s ease;
  gap: 24px;
  will-change: transform;
}

.carrossel-item {
  flex: 0 0 300px;
  text-align: center;
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 0.4s ease;
}

.carrossel-item.ativo {
  opacity: 1;
  transform: scale(1);
}

.carrossel-button {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 10;
}

.carrossel-nav {
  cursor: pointer;
  background-color: var(--cor-primaria-light);
  color: var(--cor-neutra-light);
  border: none;
  border-radius: 50%;
  padding: 1rem 1.2rem;
  font-size: 1.2rem;
  z-index: 20;
}